@using DataLayer.Entities
@using Microsoft.AspNetCore.Identity
@model DataLayer.Entities.User
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>WELCOME</h1>
    @if(Model != null)
    {
        <h3> 
            Hello, @Model.UserName!
            
            @foreach(var role in await UserManager.GetRolesAsync(Model))
            {
                @role
            }
            
        </h3>
    }
   
</div>