@using DataLayer.Entities
@using Microsoft.AspNetCore.Identity
@model IEnumerable<DataLayer.Entities.User>
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <table class="table table-striped">
                 <thead class="thead-inverse">
                    <tr>
                      <td>Name</td>
                      <td>Email</td>
                      <td>Roles</td>
                  </tr>
                 </thead>
                  <tbody>
                       @foreach(var user in Model)
                       {
                        <tr>
                            <td> <a class="link-dark" asp-controller="Collection" asp-action="Index" asp-route-userid="@user.Id">@user.UserName</a></td>
                            <td>@user.Email</td>
                            <td>
                                @foreach(var role in await UserManager.GetRolesAsync(user))
                                {
                                    <a>@role;</a>
                                }
                            </td>
                        </tr>
                       }
                 </tbody>
        </table>          
    </div> 
</div>